.page-main {
  color: #c9c7c7;
  background-color: #212529;
  margin-top: 5px;
}

.page-main > div {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page-main > div > p {
  cursor: pointer;
}
